table {
    border-collapse: collapse;
    vertical-align: middle;
    width: 100%;
}

thead {
    background-color: darkslategray;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}